.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: rgb(239, 183, 115);
    color: rgb(38, 38, 38);
    padding: 8px 10px;
    border:none;
    cursor: pointer;

}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: beige; 
    min-width: 80px;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.679);
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: rgb(166, 169, 170);
}
.dropdown a:hover{
    background-color: hsl(210, 8%, 90%)
}